

.basic{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}


.header{
    height: 100px;
    color: rgb(151, 184, 172);
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    letter-spacing: .75mm;
}

nav{
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    overflow: hidden;
    background-color:rgb(151, 184, 172) ;
    letter-spacing: .15mm;
}

nav a:hover{
   background-color: rgb(226, 220, 220);
}

nav a{
    padding: 10px 13px;
    text-decoration: none;
    color: ivory;
}


body{
    background-color: seashell;
    padding: 40px;
    border-width: 2px; border-color: tan; border-style: solid;
    margin: 60px;
    align-content: center;
   
}

.category{
    color: rgb(21, 20, 20);
    font-size: 30px;
}

img{
    height: 500px;
    margin-left: 15px;
    margin-right: auto;
    display: block;
}

.list{
    font-size: 20px;
    font-weight: 100;
}


.footer{
    height: 25px;
    font-size: 15px;
    padding-top: 15px;
    background-color: rgb(50, 45, 37);
    color:ivory;
    bottom: 0px;
    right: 0px;
    left:0px;
    position: fixed;
    text-align: center;

}

ul{
    font-size: 18px;
}

.anchor{
    text-align: center;
    color: ivory;
    background-color: rgb(151, 184, 172);
    text-decoration: none;
    padding: 10px;

}